body{
    background-color: #222224;     
	color: #fff;
	font-family: Century Gothic, sans-serif;
}
#player{
	color: #E77676;
}
img{
	width: 10px;
	height: 10px;
	margin-right: 6px;
}
ul{
	list-style-type: none;
	margin: 0px;
	text-align: center;
}
ul li{
	font-size: 13px;
	margin-right: 5px;
	
}
footer{
	text-align: center;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	opacity:0.4;
}
h1{
	padding: 0px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 5px;
}
header{
    border:solid 5px #858185;
    -moz-border-radius-topleft: 30px;
    -moz-border-radius-topright:30px;
    -moz-border-radius-bottomleft:0px;
    -moz-border-radius-bottomright:30px;
    -webkit-border-top-left-radius:30px;
    -webkit-border-top-right-radius:30px;
    -webkit-border-bottom-left-radius:0px;
    -webkit-border-bottom-right-radius:30px;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:30px;
    margin-bottom: 5px;
}
#main_container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 402px;
}
#c{
    background-color: #37373A;
    border:solid 2px #858185;
}
#left{
	float: left;
}
#right{
	float: right;
}
button{
	background-color: #666;
	margin-top: 15px;
	width: 402px;
	height: 25px;
	color: #fff;
	font-size: 14px;
	font-family: Century Gothic, sans-serif;	
	border:outset 2px #8a858a;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright:10px;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}